*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #d66f6f;
    line-height: 1.6;
}

.line{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;

}   

.container {
    width: 50%;
    position: relative;
    background: #1e1e1e;
    padding: 20px 50px;
}

.text-box{
    position: relative;
    font-size: 15px;
    border-radius: 6px;
    text-align: justify;
    padding: 20px 50px;
    background: #fff;
}